@use '../../../../global';

$heightNavigation: 6vh;
$widthNavigation: 80%;
$widthNavigationItem: 10vw;
$heightNavigationItem: 50%;

.Navigation {
    // border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    min-height: 50px;
    background-color: global.$backgroundColor;
    width: $widthNavigation;
    height: $heightNavigation;
    display: flex;
    align-self: center;
    padding-left: 20%;
}

.NavigationItem {
    border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    background-color: global.$backgroundColor;
    width: $widthNavigationItem;
    height: $heightNavigationItem;
    margin: 0 0.5vh 0 0;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}
