$widthSocial: 20%;

.Social {
    background-color: whitesmoke;
    width: $widthSocial;
    height: fit-content;
    min-height: 6vh;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 1% 1% 1% 0;
}

a {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    
}

a:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: #eb3223;
}

a.github {
    color: #333;
}

.fa {
    font-size: 24px;
}
