@use '../../../../global';

$widthSocial: 20%;

.Social {
    // border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    background-color: global.$backgroundColor;
    width: $widthSocial;
    height: fit-content;
    min-height: 6vh;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding: 1% 1% 1% 0;
}

.Social > a {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

.Social > a:hover {
    transform: translateY(-2px);
}

.Social > a.youtube {
    color: #eb3223;
}

.Social > a.github {
    color: #333;
}

.faSocial {
    font-size: 24px;
}
