@use '../../../../global';

$widthFooterContent: 80%;

.FooterContent {
    // border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    background-color: global.$backgroundColor;
    min-height: 6vh;
    width: $widthFooterContent;
    height: fit-content;
    align-self: center;
    padding: 1%;
}
