@use '../../../../global';

.Project {
    border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    background-color: global.$backgroundColor;
    width: 100%;
    height: fit-content;
    margin: 0 0 10px 0;
    padding: 2%;
}

.Time {
    // border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    display: flex;
    justify-content: flex-end;
}
