@use '../../../../global';

$heightLogo: 10vh;
$widthLogo: 20%;

.Logo {
    // border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    min-height: 50px;
    background-color: global.$backgroundColor;
    width: $widthLogo;
    height: $heightLogo;
    align-self: center;
    display: flex;
}

img {
    height: $heightLogo;
    align-self: center;
    object-fit: scale-down;
    padding: 5%;
}
