@use '../../../global';

.Footer {
    // border: global.$borderRadius global.$borderStyle;
    border-color: global.$borderColor;
    background-color: global.$backgroundColor;
    width: 100%;
    min-height: 10vh;
    display: flex;
}
